$white-1: #fff;
$white-2: rgba(255, 255, 255, 0.5);
$white-3: #f3f2f0;
$white-4: rgba(255, 255, 255, 0.75);
$white-5: rgba(255, 255, 255, 0.8);
$black-1: #000;
$black-2: #331303;
$black-3: rgba(45, 43, 57, 0.2);
$grey-1: #777777;
$pink-1: #f96da7;
$pink-2: #fa7fb2;
$pink-3: rgba(255, 212, 233, 0.9);
$pink-4: #ff3596;
$yellow-1: #ffd80d;
$yellow-2: #f0b700;
$yellow-3: #febf47;
$yellow-4: #ffdd00;
$yellow-6: #fce07f;
$green-1: rgba(18, 171, 15, 1);
$green-2: #61d7b5;
$green-3: #d2f9ec;
$blue-1: #399ffe;
$blue-2: #3081cb;
$blue-3: #55a7f3;
$blue-4: #c9ecfe;
$blue-5: #ace5fe;
$blue-6: #e4fbff;
$oranger-1: #fdc927;
$orange-2: rgba(253, 238, 206, 0.2);
$orange-3: rgba(253, 238, 206, 0.5);
$orange-5: #ff8c00;
$red-1: #d22b23;
$shadow-1: rgba(0, 0, 0, 0.25);
$shadow-2: rgba(0, 0, 0, 0.6);
$overlay: rgba(0, 0, 0, 0.4);
$overlay-1: rgba(0, 0, 0, 0.9);
